.loader {
  width: 100px;
  height: 100px;
  background: url("https://static.tildacdn.com/tild6561-6561-4364-a633-313432366239/3279462667fb3498a6aa.gif") center/cover no-repeat;
  animation: rotation 1.5s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
