.loader {
  width: 100px;
  height: 100px;
  background: url("https://static.tildacdn.com/tild3066-3434-4964-b937-386136653365/logo_1.svg") center/cover no-repeat;
  animation: rotation 1.5s linear infinite;
  transform: translate3d(0, 0, 0);
}
@keyframes rotation {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}
