.loader {
  width: 100px;
  height: 100px;
  background: url("https://static.tildacdn.com/tild6337-6436-4164-a566-356361623037/logo.png") center/cover no-repeat;
  animation: rotation 1.5s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
